body {
  overflow-x: hidden;
  color: #555;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10%;
  background: #fff;
  font-weight: 900;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #ccc;
}
header > i {
  display: none !important;
  cursor: pointer;
}
header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > nav > p {
  cursor: pointer;
  width: 20%;
  height: 100%;
  padding: 20px;
  transition: all 0.2s;
}
header > nav > p:hover {
  background: rgba(0, 0, 0, 0.2);
}
.logo {
  font-size: 1.5em;
  cursor: pointer;
}
.con1 {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.con1 > div {
  padding: 0 10%;
}
.con1 > div > h2 {
  font-size: 7em;
  font-weight: 400;
}
.con1 > div > p {
  margin-bottom: 50px;
  color: #666;
}
.con1 > div > button {
  width: 40%;
  color: #fff;
  background: none;
  border: 1px solid #666;
  padding: 5px 0;
  cursor: pointer;
}
.con1 > div > button:hover {
  background: rgba(0, 0, 0, 0.4);
}
.con1 > video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
  filter: brightness(0.2);
  object-fit: cover;
}
.con2 {
  padding: 10% 0;
}
.con2 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.con2 > div > h2 {
  margin-bottom: 50px;
  text-align: center;
}
.con2 > div > .items {
  padding: 0 10%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item > img {
  height: 150px;
  object-fit: cover;
}
@media (max-width: 1100px) {
  .con2 > div > .items {
    flex-wrap: wrap;
  }
  .item {
    width: calc(50% - 10px);
  }
  .con1 > div > h2 {
    font-size: 13vw;
  }
}
footer {
  background: #555;
  width: 100%;
  padding: 5% 10%;
  color: #999;
}
footer > .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
footer > .footer-top > ul > li {
  display: inline;
}
footer > .footer-top > ul > li:not(:last-child) {
  margin-right: 20px;
}
.footer-top > h2,
.footer-top > ul > li {
  cursor: pointer;
}
.footer-bottom {
  margin-top: 20px;
  font-size: 0.8em;
}
.footer-bottom > p:last-child {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  header {
    padding: 2% 10%;
  }
  header > i {
    display: inline !important;
  }
  header > nav {
    display: none !important;
  }
  .con1 > div > button {
    width: 100%;
    min-width: none !important;
  }
  .item {
    width: 100%;
  }
  .con2 {
    padding: 20% 0;
  }
  footer {
    padding: 10% 10%;
  }
  .con2 > div > .items {
    gap: 30px;
  }
  footer > .footer-top{
    flex-direction: column;
  }
  .footer-top>h2{
    margin-bottom: 20px;
  }
  .footer-top{
    align-items: start !important;
  }
}
