.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(36, 39, 78);
}
.logo{
  color: rgb(71, 120, 255);
  font-size: 1em;
  font-weight: bold;
}
.main{
  font-weight: bold;
  font-size: 2em;
  width: 700px;
}
.sub{
  font-size: 1em;
  color: gray;
  width: 500px;
  margin: 40px 0;
}
.down{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.down>div{
  border: 1px solid rgb(36, 39, 78);
  border-radius: 10px;
  width: 300px;
  height: 100px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.down>div>div>h2{
  font-size: 1.2em;
}
.google{
  background: rgb(36, 39, 78);
  color: white;
}
i{
  margin-right: 30px;
  font-size: 4em;
}